  <main class="container" role="main">
        <div class="container-fluid jumbotron jumbotron-dashboard py-5">
            <div class="container">
                <h1 class="display-3 fw-bold text-white">Overview Dashboard</h1>
            </div>
        </div>

        <div class="container">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';" class="my-3 ms-3">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
            </nav>

                            <div class="plot-body" id="pie-chart-01"></div> 
                        
                            <div class="plot-body" id="pie-chart-02"></div>
               
                            <div class="plot-body" id="pie-chart-03"></div>

                            <div class="plot-body" id="bar-chart-01"></div>

                            <div class="plot-body" id="bar-chart-02"></div>
                      
        </div>


       

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
        integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
        async></script>